.postListItem {
  background: none;
  display: flex;
  flex-direction: row;
  border: 0;
  font-size: smaller;
  text-decoration: none;
  box-shadow: 0px 11px 21px -8px rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
  margin-right: 20px;
  border-radius: 10px;
}

.postListItem:hover {
  cursor: pointer;
}

.postListItem,
.postListItem:visited {
  color: #555;
}

.postListItem__image {
  height: 200px;
  width: 225px;
  border-radius: 10px 0 0 10px;
  background-size: cover;
  background-position: 50% 50%;
}

.postListItem__details {
  padding: 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
}

.postListItem__details h2 {
  margin: 0;
}

.postListItem__details .postStarRating {
  padding: 5px 0;
  text-align: center;
  opacity: 0.85;
}

.postListItem__details span {
  display: block;
  text-align: center;
  opacity: 0.5;
}
